<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="app">
        {{!-- Header Append --}}
        {{>header}}
        <div class="aboutBlock">
            <div class="rightContainer">
                <br></br>
                <div class="detailsblocks">
                    <div class="aboutImageBlock">
                        <img src="./img/profileAbout.jpg" class="profileAboutImage" width="90%" height="350px"
                            alt="profile" />
                    </div>
                    <div class="aboutDetailsBlock">
                        <p class="aboutMeDetailsHeading">About Author</p>
                        <p class="aboutMeDetailsName">I'm Dharanitharan & MEAN Stack Developer</p>
                        <p class="aboutMeDetails">
                            Hi, My name is Dharanitharan Murugan, I am a MEAN Stack Developer specialized in creating
                            responsive Web and Mobile application with
                            International Based Coding. My journey as a UI designer was started during my college days, This
                            has helped me to
                            widen my range of knowledge and gather experiences in front-end development, Fast forward
                            few years, Now I can build user-friendly Web and Mobile application with the help of following technologies.
                        </p>

                        <div class="skillsBlock">
                            <span class="skillSetIcon" title="HTML"><img src="./img/html5.png" /></span>
                             <span class="skillSetIcon" title="HTML"><img src="./img/css3.png" /></span>
                             <span class="skillSetIcon" title="HTML"><img src="./img/javascript.png" /></span>
                              <span class="skillSetIcon" title="HTML"><img src="./img/angular.png" /></span>
                               <span class="skillSetIcon" title="HTML"><img src="./img/node.png" /></span>
                                <span class="skillSetIcon" title="HTML"><img src="./img/ExpressJS.png" /></span>
                                 <span class="skillSetIcon" title="HTML"><img src="./img/mongo.png" /></span>
                                  <span class="skillSetIcon" title="HTML"><img src="./img/photoshop.png" /></span>
                        </div>

                        <div class="contactBlock">

                            <div class="contactDetails">
                                <span class="detailsHead">Email : &nbsp;</span>
                                <span class="detailsValue">dharanitharan.it@gmail.com</span>
                            </div>

                            <div class="contactDetails">
                                <span class="detailsHead">Contact : &nbsp;</span>
                                <span class="detailsValue">+91 9659459414 , +27 631875543</span>
                            </div>

                            <div class="contactDetails">
                                <span class="detailsHead">Website : &nbsp;</span>
                                <span class="detailsValue">https://dharanitharanpro.github.io/</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>