<div class="headerBar">
    <div class="lBlock">
        <a class="brandLink" href=""><span id="brand">D - Weather</span></a>
    </div>
    <div class="dateBlock">
        <span id="date">Monday, 12 March 2020</span>
    </div>
    <div class="menu">
        <a href="https://www.linkedin.com/in/dharanitharan-murugan-264b11165/" target="_blank"><img src="../img/about.png" alt="about" title="About" class="menu"></a>
    </div>
</div>
<script>
    var date = new Date();
    document.getElementById("date").innerHTML = date;
</script>